/*
 * Coded by: Garz4 (Uriel García Rivas).
 */
body{
  font-family: Helvetica;
  background-color: #2e2e2e;
}

h1{
  color: white;
  text-shadow: 0px 0px 2px #000000;
}

h4{
  color: white;
  text-shadow: 0px 0px 2px #000000;
}

.startOnline{
	background-color:#08ab01;
	color:#FFFFFF;
}

.startOffline{
	background-color:#00c4b3;
	color:#FFFFFF;
}

button{
	border:0;
	padding:10px;
	border-radius:10px;
}

canvas {
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tdBoard {
	background-repeat: no-repeat;
	background-size: 810px 810px;
}
